body {
  color: #333;
  font-family: Myriad,"Lucida Grande","Trebuchet MS",Verdana,Helvetica,Arial,sans-serif;
  margin: 0;
  padding: 0 20%;
  border-top: 1em solid #369;
}
input, textarea {
  font-size: 1em;
}
label {
  display: block;
}
.error {
  color: #900;
}